

*{
    margin: 0;
    padding: 0;
    
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}




/* Navbar */

.navbar {
  background: linear-gradient(to right, #8b5cf6, #ec4899);
}



.navbar {
  background: linear-gradient (45deg,   #95833a,#ff00ff, #8a2be2 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 6px rgba(158, 39, 39, 0.1);
}



.logo {
  font-size: 24px;
  font-weight: bold;
  color:white;
}


.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}


.menu a {

  text-decoration: none;
  color: white;
  font-weight: 500;
}
 

.subscribe-btn {
  background: linear-gradient(to right, #ec4899, #facc15);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* Banner */

.banner {
  background: linear-gradient(to right, #b23f78, #8b5cf6, #85763c);
  color: #ffffff;
  text-align: center;
  padding: 100px 20px 60px;
  position: relative;
}






/* Circle Logo */


.circle {
  width: 160px;
  height: 160px;
  background: linear-gradient( 45deg,  #ffcc00, #8a2be2)  ;
  border-radius: 50%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}



.circle img {
  width: 70px;
}



.new-label {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #22c55e;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}



/* Texts */

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}



.tagline {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}


/* Buttons */

.action-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}


.spotify-btn {
  background: linear-gradient(to right, #ec4899, #f97316);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.green-btn {
  background: #22c55e;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* About Section Styling */

.about-section {
 background: linear-gradient(to right, #521e96, #571d27, #1f052b);
  color: white;
  padding: 60px 20px;
  text-align: center;
}



.about-section h2 {
    
  font-size: 32px;
  margin-bottom: 20px;
}



.about-text {
      align-items: center;
      justify-content: space-between;
  font-size: 16px;
  line-height: 1.8;
  max-width: 500px;
  margin: 0 auto 20px;
}


.about-join {
  font-size: 16px;
  color: hsl(142, 95%, 48%);
  margin-bottom: 40px;
}



/* Stats Grid */

.stats-grid {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



.stat-box {
  background-color: #312e81;
  padding: 20px 30px;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s ease;
}


.stat-box:hover {
  transform: scale(1.05);
}



.stat-box h3 {
  font-size: 28px;
  color: hsl(142, 96%, 52%);
  margin-bottom: 10px;
}



.stat-box p {
  font-size: 14px;
  color: hwb(220 90% 8%);
}


@media (max-width: 768px) {
  .stat-box {
    width: 45%;
  }
}



@media (max-width: 480px) {
  .stat-box {
    width: 100%;
  }
}







/* take-wave Section */


.take-wave {
  background: linear-gradient(to right, #581fa2, #bd4658, #57996e);
  color: white;
  padding: 60px 20px;
  text-align: center;
}


.take-wave h2 {
  font-size: 32px;
  margin-bottom: 40px;
}


/* Grid Layout */

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}



/* Feature Card */

.feature-card {
  background-color: #55159a;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
}


.feature-card:hover {
  transform: translateY(-15px);
}


.feature-card img {
  width: 50px;
  margin-bottom: 18px;
}



.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #4ade80; 
}



.feature-card p {
  font-size: 14px;
  color: #e5e7eb;
  line-height: 1.9;
}





.episodes-section {
  background: linear-gradient(to right, #2e0419, #8b5cf6);
  color: white;
  padding: 60px 20px;
  text-align: center;
}


.episodes-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
}



.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}



.episode-card {
  background: linear-gradient(to right, #920c7e, #8b5cf6);
  padding: 20px;
  border-radius: 12px;
  text-align: left;
}



.episode-card h3 {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #cedbd3;
}



.episode-card p {
  font-size: 14px;
  color: #e5e7eb;
  line-height: 1.6;
  margin-bottom: 10px;
}



.duration {
  font-size: 13px;
  color: hsl(230, 66%, 36%);
  font-weight: bold;
}






/* Host Section */


.host-section {
 background: linear-gradient(to right, #6e31b9, #be5667, #1c4bb0);
  color: white;
  padding: 60px 20px;
  text-align: center;
}


.host-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
}



/* Host Card Layout */

.host-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #84305708, #c50db6);
  padding: 30px;
  border-radius: 12px;
  max-width: 1000px;
  margin: 0 auto;
  gap: 30px;
}





/* Host Image */

.host-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(92, 87, 87, 0.3);
}




/* Host Info */


.host-info {
  max-width: 600px;
  text-align: left;
}



.host-info h3 {
  font-size: 24px;
  color:white;
  margin-bottom: 10px;
}



.host-info p {
  font-size: 15px;
  color: hsl(220, 13%, 91%);
  line-height: 1.8;
}



/* Social Icons */

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}



.social-icons img {
  width: 30px;
  height: 28px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}



@media (max-width: 768px) {
  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-info {
    text-align: center;
  }
}




.footer-section {
  background-image: url('./assets/footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 20px;
  text-align: center;
  color: white;
  position: relative;
}

/* Content wrapper */
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Title Styling */
.footer-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.white-text {
  color: rgb(209, 197, 197);
}

.gradient-text {
  background: linear-gradient(to right, hsl(330, 98%, 44%), #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Platform Icons */
.platform-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.platform-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.platform-icons img:hover {
  transform: scale(1.2);
}

/* Copyright */
.footer-section .copyright {
  font-size: 14px;
  color: #cbd5e1;
}