

*{
    margin: 0;
    padding: 0;
    
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background:rgb(192, 43, 192);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.subscribe {
  background: linear-gradient(to right, #ec4899, #facc15);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* Banner */
.banner {
  text-align: center;
  background: linear-gradient(to right, #72688c, #5a4195, #927c24);
  color: white;
  padding: 80px 20px;
}

.circle {
  width: 160px;
  height: 160px;
  background: linear-gradient(45deg, #ffcc00, #ff00ff, #8a2be2);
  border-radius: 50%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px #f40ab2;
}

.circle img {
    background-image: url(./assets/hero-bg.png);
  width: 70px;
}

.new {
  position: absolute;
  top: -10px;
  right: -10px;
  background: hsl(143, 56%, 46%);
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.tagline {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.spotify {
  background:linear-gradient(45deg, #ffcc00, #ff00ff, #8a2be2);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sub {
  background: hsla(257, 83%, 48%, 0.493);
  color: hwb(142 4% 11%);
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



/* About Section Styling */
.about-section {
  background-color: #1e1b4b; /* dark purple */
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto 20px;
}

.about-join {
  font-size: 16px;
  color: #4ade80; /* green highlight */
  margin-bottom: 40px;
}

/* Stats Grid */
.stats-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.stat-box {
  background-color: #312e81;
  padding: 20px 30px;
  border-radius: 10px;
  width: 200px;
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: scale(1.05);
}

.stat-box h3 {
  font-size: 28px;
  color: #4ade80;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 14px;
  color: #e5e7eb;
}


@media (max-width: 768px) {
  .stat-box {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .stat-box {
    width: 100%;
  }
}





