

*{
    margin: 0;
    padding: 0;
    
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.subscribe {
  background: linear-gradient(to right, #ec4899, #facc15);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* Banner */
.banner {
  text-align: center;
  background: linear-gradient(to right, #ec4899, #8b5cf6, #facc15);
  color: #fff;
  padding: 80px 20px;
}

.circle {
  width: 160px;
  height: 160px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.circle img {
    background-image: url(./assets/hero-circle.png);
  width: 70px;
}

.new {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #22c55e;
  color: #e0151f;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.tagline {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.spotify {
  background: linear-gradient(to right, #ec4899, #facc15);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sub {
  background: #22c55e;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}





