

*{
    margin: 0;
    padding: 0;
    
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.subscribe {
  background: linear-gradient(to right, #ec4899, #facc15);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}





